html {
  background: #D6D3C6;
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: 'Open Sans Light';
  src: url('OpenSans-Light.ttf');
}

body {
  padding: 0;
  margin: 0;

  width: 100%;
  height: 100%;
  overflow: hidden;

  color: #222;
  font-family: 'Open Sans Light';
  font-size: 20pt;
  font-weight: normal;
}

.main-panel {
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  box-shadow: 2px 0 5px #000;
}

header {
  margin-left: 1em;
  margin-top: .5em;
}

header h1 {
  margin: 0;
  display: inline;
  font-weight: normal;
}

.side-panel {
  position: fixed;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.side-panel .title.num-users {
  font-size: 2em;
  font-weight: bold;
  margin: 0;
  background-image: url('images/mozfest.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 15%;
  text-shadow: 0px 0px 4px #000, 0px 0px 4px #000, 0px 0px 4px #000, 0px 0px 4px #000;
}

.side-panel .title.support {
  margin-top: 0;
  font-size: 0.4em;
}

.side-panel .title.partners {
  margin-top: 3em;
  font-size: 0.4em;
}

.side-panel .title.like-you {
  font-size: 0.7em;
}

.main-panel .container {
  position: absolute;
  top: 1em;
  right: 4em;
  bottom: 1.2em;
  left: 4em;
}

.main-panel .chart {
  position: absolute;
  top: 20%;
  right: 0;
  bottom: 0;
  left: 0;
}

.side-panel .container {
  position: absolute;
  top: 5%;
  right: 5%;
  bottom: 5%;
  left: 5%;
}

.events {
  width: 50%;
  position: absolute;
  bottom: 10px;
  right: 5px;
  list-style: none;
  padding: 0;
  margin: 0;
  box-shadow: 2px 2px 5px #000;
  background: #eee;
  border: 2px solid rgba(239, 73, 34, 1.0);
  border-radius: 5px;
}

.events .event {
  font-size: .8em;
  padding: 5px;
  margin: 5px;
  background: rgba(180, 180, 180, 0.4);
  border-radius: 2px;
}

.events .event .title {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.events .event p {
  margin: 0.3em 0 0.2em 0.6em;
  font-size: .8em;
}

.events .event .title li {
  margin-left: -50%;
  position: relative;
  left: 25%;
  top: 0.3em;
  padding-bottom: 2px;
}

.logo-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20%;
}

.glorious-dead-logo {
  width: 100%;
  height: 100%;
  text-align: center;
  position: absolute;
}

.glorious-dead-logo div {
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.glorious-dead-logo div:nth-child(1) {
  background-image: url('images/mozilla.png');
}

.glorious-dead-logo div:nth-child(2) {
  background-image: url('images/tgd.svg');
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.glorious-dead-logo:hover div:nth-child(1) {
  opacity: 0;
}

.glorious-dead-logo:hover div:nth-child(2) {
  opacity: 1;
}

.chart-content {
  position: absolute;
  top: 0;
  left: 5%;
  bottom: 5%;
  right: 0;
}

.y-axis {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.y-marker {
  position: absolute;
  width: 100%;
}

.y-marker .dollar-value {
  font-size: 0.5em;
  position: absolute;
  left: -6em;
  top: -.5em;
  width: 5em;
  text-align: right;
  opacity: .5;
}

.y-marker .y-line {
  width: 100%;
  border-top: 1px dashed rgba(255, 255, 255, 0.5);
  height: 1px;
  position: absolute;
  right: 5px;
}

.chart-content .x-axis {
  position: absolute;
  border-radius: 3px;
  background: #fff;
  height: 6px;
  width: 100%;
  bottom: -7px;
}

.x-axis .labels {
  list-style: none;
  position: relative;
  margin-top: .5em;
  margin-bottom: .5em;
}

.x-axis .labels li {
  position: absolute;
  display: inline-block;
  font-size: .7em;
}

.x-axis .labels li:nth-child(odd){
  visibility: hidden;
}

.data-points {
  position: absolute;
  width: 100%;
  height: 100%;
}

.data-point {
  position: absolute;
  z-index: 2;
  border: 7px solid rgba(34, 147, 209, 1.0);
  margin-top: -11px;
  margin-left: -11px;
  width: 11px;
  height: 11px;
  border-radius: 14px;
  visibility: hidden;
  cursor: pointer;
}

.data-point.small {
  margin-top: -9px;
  margin-left: -9px;
  width: 9px;
  height: 9px;
}

.data-point:hover {
  background: rgba(239, 73, 34, 0.8);
}

.data-point.on {
  visibility: visible;
}

.data-canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}

.meta-canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}

.glorious-dead-logo p {
  font-size: .5em;
  text-align: center;
  top: -2em;
  position: absolute;
  width: 100%;
  text-shadow: 1px 1px 2px #000;  
}

.side-panel .funder-container {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 200px;
}

.side-panel ul {
  position: absolute;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0 0 0 1em;
  top: 0;
}

.side-panel ul li {
  color: #fff;
  font-size: 14px;
  list-style-position: inside;
  margin-left: .5em;
  width: 80%;
  padding-top: 3px;
  padding-bottom: 3px;
  text-indent: -1em;
}

.side-panel .title {
  font-size: .5em;
  color: #fff;
  text-align: center;
  width: 100%;
  text-shadow: 1px 1px 2px #000;
}

.target {
  height: 30px;
  width: 100%;
  position: absolute;
  z-index: 2;
  pointer-events: none;
}

.target .label {
  font-size: .4em;
  position: absolute;
  height: 100%;
  width: 12.48em;
  left: -12.5em;
  line-height: 30px;
  background: rgba(239, 73, 34, 0.8);
  border-radius: 3px;
  overflow: hidden;
}

.target .label .title {
  padding-left: .4em;
  width: 33%;
  position: relative;
  color: #fff;
}

.target .label .title > span {
  position: relative;
  z-index: 2;
}

.target .label .pointer {
  position: absolute;
  z-index: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100px;
  right: 0.7em;
  height: 100px;
  -o-transform: rotate(30deg) skewY(30deg);
  -ms-transform: rotate(30deg) skewY(30deg);
  -moz-transform: rotate(30deg) skewY(30deg);
  -webkit-transform: rotate(30deg) skewY(30deg);
  transform: rotate(30deg) skewY(30deg);
  top: -41px;
}

.target .line {
  width: 101%;
  height: 5px;
  background: rgba(239, 73, 34, 0.8);
  position: absolute;
  top: 50%;
  margin-top: -2.5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.target .value {
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
  margin-right: .25em;
  font-weight: bold;
  font-size: 1.3em;
}